<app-dash-header></app-dash-header>

<section class="dash">
  <div class="dash-content">
    @if (welPage) {
    <blockquote class="welcomePage">welcomePage</blockquote>
    }

    <!-- ___________________  -->
    <router-outlet></router-outlet>
  </div>

  <aside class="sidebar" [ngClass]="{ 'sidebar-ar': lang == 'ar' }">
    @if (true) {
    <!--  user side bar  -->
    <app-user-side></app-user-side>

    }@else if (false) {
    <!-- vendor side bar  -->
    <app-vendor-side></app-vendor-side>
    }
  </aside>
</section>
