@import "../../../assets/_general";
header {
  background-color: var(--main-ya);
  padding: 1rem 0rem;
  box-shadow: 0px 3px 6px #66949e5c;
  margin-bottom: 1rem;
  .container {
    @include flex(row, space-between, center, 0.5rem);

    .box {
      @include flex(row, flex-start, center, 0.5rem);
      cursor: pointer;
      .logo {
        img {
          width: 85px;
        }
      }

      .lang {
        min-width: fit-content;
        position: relative;
        button {
          @include flex(row, space-between, center, 0.3rem);
          .arrow {
            color: var(--main-gr);
            font-weight: 800;
            font-size: 1rem;
          }
        }

        .lang-menu {
          position: absolute;
          top: 100%;
          left: 0;
          width: fit-content;
          background-color: var(--white);
          box-shadow: 0 0 4px 0px var(--main-gr);
          border-radius: 0.2rem;
          padding: 0.6rem;
          @include flex(column, flex-start, stretch, 0.5rem);
          z-index: 50;
          li {
            @include flex(row, flex-start, center, 0.5rem);
          }
        }
      }
    }

    .links {
      width: 50%;
      ul {
        @include flex(row, center, center, 1.5rem);
        li {
          color: var(--main-gr);
          font-weight: 600;
          cursor: pointer;
          // &:hover {
          //   color: var(--white);
          // }
          .arrow {
            i {
              font-size: 0.6rem;
            }
          }
        }
        li.active {
          color: var(--main-re);
        }
      }
    }

    .controls {
    }

    .menu {
      display: none;
      border: thin solid #66939db8;
      font-weight: 800;
      border-radius: 0.2rem;
      padding: 0rem 0.5rem;
      i {
        font-size: 1.5rem;
        color: #66939d;
      }
      cursor: pointer;
      &:hover {
        background-color: #66939d;
        i {
          color: #fff;
        }
      }
    }
  }
}

// ___________________Media Query_______________
// _____________________________________________

@media (max-width: 767px) {
  header {
    .container {
      .box {
      }

      .controls,
      .links {
        display: none;
      }
      .menu {
        display: block;
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  header {
    .container {
    }
  }
}
// ___________________Mobile____________________
// _____________________________________________
