<div class="swiperCats container-fluid">
  <swiper
    [config]="config"
    [slidesPerView]="slidesPerView"
    [navigation]="navigation"
    class="swiper"
  >
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Pants</blockquote>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Socks</blockquote>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Hoodies</blockquote>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Nike</blockquote>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">T-shirts</blockquote>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>

    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
  </swiper>
</div>
