<div class="swiperCats container-fluid">
  <swiper
    [config]="config"
    [slidesPerView]="slidesPerView"
    [navigation]="navigation"
    class="swiper"
  >
    @for (item of [1]; track $index) {
    <ng-template swiperSlide>
      <div class="catParent">
        <blockquote class="m-0 catImg">
          <img src="/assets/images/home/placeholder.jpg" alt="category" />
        </blockquote>
        <blockquote class="m-0 catName">Tops</blockquote>
      </div>
    </ng-template>
    }
  </swiper>
</div>
