<div class="services">
  <blockquote class="secHead">
    <div class="paginator">
      <p-paginator
        [first]="first"
        [rows]="rows"
        [totalRecords]="serivces.length"
        (onPageChange)="onPageChange($event)"
        [showJumpToPageDropdown]="false"
        [showPageLinks]="false"
        [showFirstLastIcon]="false"
      ></p-paginator>

      <p class="pages">
        <span> {{ "page" | translate }}</span>
        <span> {{ page }} </span>
        <span> {{ "of" | translate }}</span>
        <span> {{ pageCount }}</span>
      </p>
    </div>

    <h3 class="btn btn-outline-mainRed fw-bold">
      {{ title | translate }}
    </h3>
  </blockquote>

  <ul class="servCont">
    @for (item of showServices; track item.id) {
    <li>
      <div class="item" [routerLink]="['/services', item.id]">
        <app-card [item]="item"></app-card>
      </div>
    </li>
    }@empty {
    <div class="notFound">
      {{ "Not Found" | translate }}
    </div>
    }
  </ul>
</div>
