@defer (on timer(1000ms)) {
<section class="offer container">
  <div class="info"></div>

  <!-- __________ comments _________  -->
  <div class="comments"></div>

  <!-- __________ service provider offers _________  -->
  <div class="serviceProviderOffers">
    <app-page-section title="services"></app-page-section>
  </div>

  <!-- __________ Most viewed photography shows _________  -->
  <div class="serviceProviderOffers">
    <app-page-section title="offers"></app-page-section>
  </div>
</section>

}@placeholder {
<app-loading></app-loading>
}
